<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      {% for i in note %}
        <tr>
          <td>{{i.to}}</td>
          <td>{{i.fr}}</td>
          <td>{{i.title}}</td>
          <td>{{i.message}}</td>
        </tr>
        {% endfor %}
      <!-- END SECTION -->
    </table>
  </body>
</html>
